In [7]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from time import gmtime, strftime
import json
import arff
import csv                             
from io import StringIO
import requests, zipfile
from IPython.display import Image
from IPython.display import display  
import sys                                              
import math                                             
#Import SKlearn classifiers
from sklearn.svm import SVC
from sklearn.model_selection import GridSearchCV
from sklearn.metrics import accuracy_score 
import os
import urllib.request

#SQL Reading
import pyodbc
import azure as az

In [2]:
curr_path = os.getcwd()
print(curr_path)

C:\Users\wvanbuskir002\Documents\Azure - Demos\Machine-Learning-Medium

In [3]:
data_dict_3C = arff.load(open(curr_path+'/column_3C_weka.arff'))
data_arff_3C = data_dict_3C["data"]

data_dict_2C = arff.load(open(curr_path+'/column_2C_weka.arff'))
data_arff_2C = data_dict_2C["data"]

In [4]:
attributes_2C = data_dict_2C['attributes']
features_2C = [item[0] for item in attributes_2C]

attributes_3C = data_dict_3C['attributes']
features_3C = [item[0] for item in attributes_3C]

In [13]:
print(features_3C)

['pelvic_incidence', 'pelvic_tilt', 'lumbar_lordosis_angle', 'sacral_slope', 'pelvic_radius', 'degree_spondylolisthesis', 'class']

In [5]:
ortho_3C_df = pd.DataFrame(data = data_arff_3C, columns = features_3C)
ortho_2C_df = pd.DataFrame(data = data_arff_2C, columns = features_2C)

In [29]:
ortho_3C_df.head()

,pelvic_incidence,pelvic_tilt,lumbar_lordosis_angle,sacral_slope,pelvic_radius,degree_spondylolisthesis,class
0,63.027817,22.552586,39.609117,40.475232,98.672917,-0.254400,Hernia
1,39.056951,10.060991,25.015378,28.995960,114.405425,4.564259,Hernia
2,68.832021,22.218482,50.092194,46.613539,105.985135,-3.530317,Hernia
3,69.297008,24.652878,44.311238,44.644130,101.868495,11.211523,Hernia
4,49.712859,9.652075,28.317406,40.060784,108.168725,7.918501,Hernia

In [20]:
ortho_3C_df.to_csv(path_or_buf='ortho-data-multiclass.csv', index=False)
ortho_2C_df.to_csv(path_or_buf='ortho-data-binary-class.csv', index=False)

In [22]:
url = 'https://raw.githubusercontent.com/van-william/azure-ml-demo/main/source-data/ortho-data-multiclass.csv'
df = pd.read_csv(url)
df.head()

,pelvic_incidence,pelvic_tilt,lumbar_lordosis_angle,sacral_slope,pelvic_radius,degree_spondylolisthesis,class
0,63.027818,22.552586,39.609117,40.475232,98.672917,-0.254400,Hernia
1,39.056951,10.060991,25.015378,28.995960,114.405425,4.564259,Hernia
2,68.832021,22.218482,50.092194,46.613539,105.985135,-3.530317,Hernia
3,69.297008,24.652878,44.311238,44.644130,101.868495,11.211523,Hernia
4,49.712859,9.652075,28.317406,40.060784,108.168725,7.918501,Hernia

## Write SQL Data

In [43]:
# Some other example server values are
# server = 'localhost\sqlexpress' # for a named instance
# server = 'myserver,port' # to specify an alternate port
server = 'azure-demo-database-helium.database.windows.net'
database = 'azure-demo-database-helium'
username = 'william'
password = '{Redeemed93!!}'   
driver= '{ODBC Driver 17 for SQL Server}'
column_names = '(pelvic_incidence, pelvic_tilt, lumbar_lordosis_angle,sacral_slope, pelvic_radius, degree_spondylolisthesis,class)'


cnxn = pyodbc.connect('DRIVER='+driver+';SERVER=tcp:'+server+';PORT=1433;DATABASE='+database+';UID='+username+';PWD='+ password)
cursor = conn.cursor()
# Insert Dataframe into SQL Server:
for index, row in ortho_3C_df.iterrows():
    cursor.execute("INSERT INTO dbo.MlOrtho "+column_names+" values(?,?,?,?,?,?,?)", row.pelvic_incidence, row.pelvic_tilt, row.lumbar_lordosis_angle, row.sacral_slope, row.pelvic_radius, row.degree_spondylolisthesis,row.class)
cnxn.commit()
cursor.close()

SyntaxError: invalid syntax (<ipython-input-43-b0605bac3640>, line 16)

## Read SQL Data

In [40]:
server = 'azure-demo-database-helium.database.windows.net'
database = 'azure-demo-database-helium'
username = 'william'
password = '{Redeemed93!!}'   
driver= '{ODBC Driver 17 for SQL Server}'

with pyodbc.connect('DRIVER='+driver+';SERVER=tcp:'+server+';PORT=1433;DATABASE='+database+';UID='+username+';PWD='+ password) as conn:
    with conn.cursor() as cursor:
        sql = "Select * FROM MlOrtho"
        query_results = cursor.execute(sql).fetchall()
    df = pd.DataFrame(query_results)
df.head()
# with a prepared statement, use list/tuple/dictionary of parameters depending on DB
#data = pd.read_sql(sql=sql, con=cnxn, params=query_params)

Empty DataFrame
Columns: []
Index: []

In [39]:
df.head()

Empty DataFrame
Columns: []
Index: []